<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="icon" type="image/x-icon" href="/images/icons8-to-do-list-16.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 p-8" style="background-color: rgb(245, 232, 183);">
    <%- include("header.ejs") %> 
    <h2 style="text-align: center" class="text-2xl font-semibold mb-4">Sign In</h2>
    <form action="/session" method="post" class="p-4 w-1/2 mx-auto" style="background-color: rgb(191, 214, 188); border-radius:20px">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-4">
            <label for="email" class="block text-gray-600">Email:</label>
            <input type="email" id="email" name="email" required class="w-full border p-2 rounded-md">
        </div>

        <div class="mb-6">
            <label for="password" class="block text-gray-600">Password:</label>
            <input type="password" id="password" name="password" required class="w-full border p-2 rounded-md">
        </div>

        <div class="text-center" >
            <button type="submit" value="Login in" hover:bg-green-200 class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer" style="background-color: rgb(205, 92, 8);">Sign In</button>
        </div>
    </form>
    <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
        <p> <%= messages.error[i] %></p>
        <% } %>
    <% } %>
</body>
</html>